<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title><ui:insert name="titulo">Vendas</ui:insert></title>
</h:head>
<h:body>
	<div>
		<img src="img/header_uni.jpg" />
	</div>
	<ui:insert name="cabecalho"></ui:insert>

	<h:messages infoStyle="color: blue" 
			errorStyle="color: red"
			warnStyle="color: yellow"/>

	<h:form>
		<ui:insert name="conteudo"></ui:insert>
	</h:form>

	<ui:insert name="rodape"></ui:insert>
</h:body>
</html>